@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["ActivePageTop"] = "Docs";
    ViewData["ActivePageDocsManager"] = "JavaBasic";
    ViewData["ActivePageDocsManagerCollapses"] = "Java";
}

<h1>java Co ban</h1>