<ul class="nav nav-tabs flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark @NavbarTop.HomeNavClass(ViewContext)" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark @NavbarTop.ProductManagerNavClass(ViewContext) " asp-area="ProductManager" asp-controller="Commodity" asp-action="index">Quản Lý</a>
    @*<li class="nav-item">
        <a class="nav-link text-dark @NavbarTop.DocsNavClass(ViewContext) " asp-area="Docs" asp-controller="Csharp" asp-action="index">Học tập</a>
    </li>*@
    
</ul>